[submodule "packages/osmosis-test-tube/osmosis"]
	path = packages/osmosis-test-tube/osmosis
	url = https://github.com/osmosis-labs/osmosis.git
	branch = main

[submodule "packages/persistence-test-tube/persistencecore"]
	path = packages/persistence-test-tube/persistencecore
	url = https://github.com/persistenceOne/persistenceCore.git
